/nivel-1/nodejs/aulas/backend/node_modules
/nivel-1/nodejs/desafio
/nivel-1/nodejs/desafio/conceitos-nodejs/node_modules
/nivel-1/nodejs/desafio/conceitos-nodejs/.git

/nivel-1/reactjs/aulas/front-end/node_modules
/nivel-1/reactjs/aulas/front-end/yarn-error.log
/nivel-1/reactjs/desafio

/nivel-1/reactnative/aulas/node_modules
/nivel-1/reactnative/desafio

/nivel-1/typescript/node_modules
/nivel-1/typescript/dist